<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p><br />

  <br />

  <% if @place.latitude.present? && @place.longitude.present? %>

    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script> 
    <script type="text/javascript">
      var map = null;
              
      function getMap()
      {
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {credentials: "Aq-iKD_5sQGBJDPFHKa9qGKUK0FZq157Xa1x6FatHGYAGP44eFFxf5L_TqeYJvmc"});
      }
        
      function updatePushpinLocation()
      {
        var pushpin= new Microsoft.Maps.Pushpin(map.getCenter(), null); 
        map.entities.push(pushpin); 
        pushpin.setLocation(new Microsoft.Maps.Location(<%= @place.latitude %>, <%=@place.longitude %>));   
      }

      function setView()
      {
        map.setView({zoom: 10, center: new Microsoft.Maps.Location(<%= @place.latitude %>, <%=@place.longitude %>)});
      }

    </script>

    <body onload="getMap(), updatePushpinLocation(), setView();"></body>
    <div id="myMap"></div>    
  <% end %>

  <br />

  <%if current_user && current_user == @place.user %>
    <%= link_to 'Update details', edit_place_path %>
      <div class="pull-right">
        <%= link_to 'Delete', place_path, method: :delete, data: {confirm:'Are you sure you want to delete this'}, class: 'btn btn-danger' %>
      </div>
    <% end %>
</div>